services:
  - type: web
    name: webradio-paroquia
    runtime: docker
    plan: free
    region: oregon

    healthCheckPath: /health

    envVars:
      - key: PORT
        value: 10000

      - key: ICECAST_SOURCE_PASSWORD
        value: webradio_source_2025

      - key: ICECAST_RELAY_PASSWORD
        value: webradio_relay_2025

      - key: ICECAST_ADMIN_PASSWORD
        value: webradio_admin_2025

      - key: ICECAST_HOSTNAME
        value: webradio-paroquia.onrender.com

      - key: GOOGLE_APPLICATION_CREDENTIALS_JSON
        sync: false
