services:
  - type: web
    name: webradio-paroquia
    env: docker
    plan: free
    region: oregon
    healthCheckPath: /

    envVars:
      - key: PORT
        value: 10000

      - key: ICECAST_SOURCE_PASSWORD
        value: webradio_source_2025

      - key: ICECAST_RELAY_PASSWORD
        value: webradio_relay_2025

      - key: ICECAST_ADMIN_PASSWORD
        value: webradio_admin_2025

      - key: ICECAST_HOSTNAME
        value: webradio-paroquia.onrender.com

      - key: NODE_VERSION
        value: 20.x

    disk:
      name: ffmpeg-cache
      mountPath: /cache
      sizeGB: 1
